/*
*** Custom css
*/

body {
    background: #efefef;
    direction: ltr;
    font-family: 'Open Sans', sans-serif;
}

.ut-container {
    margin-top: 20px;
    margin-bottom: 150px;
}

.ut-title {
    font-size: 20px;
}

.ut-link {
    color: blue;
    cursor: pointer;
}

.error {
    color: red;
}

.ut-pointer {
    cursor: pointer;
}

.ut-lead {
    font-size: 25px;
}

.ut-button-set {
    margin-top: 10px;
}

.ut-search-btnset {
    margin-top: 15px;
    margin-bottom: 25px;
}

.ut-search-result {
    margin-top: 15px;
}

.ut-sub-heading {
    font-size: 1.5em;
    margin-bottom: 25px;
}

.ut-pageheader {
    margin-top: 20px;
    margin-bottom: 50px;
}

.ut-control-label {
    color: black;
}

.ut-userId-control {
    width: 214px;
}

.panel-row-space {
    margin-bottom: 10px;
}

.ut-acc-row
 {
    margin-top: 30px;
}

.ut-acc-form-group {
    margin-left: -15px;
}

.ut-fp,
.ut-fp:hover {
    color: black;
    text-decoration: none;
}

.ut-nohover {
    color: #333;
    background-color: transparent;
    padding-top: 15px;
    display: block;
}

.ut-login-block {
    padding-top: 20px;
}

.ut-status-btn {
    width: 115px;
    text-align: left;
}

.ut-footer {
    margin-top: 60px;
}


/*welcome page*/

.ut-wp-number {
    font-weight: bold;
    display: block;
    font-size: 4.75em;
    color: #666;
    padding: 10px 0;
    line-height: 1.1em;
}

.ut-content-center {
    text-align: center;
}

.ut-wp-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: green;
}

.ut-wp-th {
    background: rgb(245, 244, 244);
}

.ut-wp-circle-p {
    padding: 85px;
    color: white;
}

.ut-wp-circle-label {
    margin-top: 10px;
    height: 10px;
    width: 10px;
    background: green;
}

.ut-wp-status {
    margin-top: -15px;
    margin-left: 15px;
}


/*modified css*/

.form-horizontal .control-label {
    text-align: left;
    color: #888;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

.table-user-information {
    margin-bottom: 0px;
}

.carousel-inner > .item > img {
    width: 100%;
}

.pipe-msg {
    display: block;
    text-align: center;
    margin-top: 250px;
    font-weight: lighter;
    font-size: 65px;
}

.form-height {
    height: 40px!important;
}

.select-color {
    color: #FF8300;
}


/*custom bouncing arrow*/

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -moz-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    60% {
        -moz-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    60% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -moz-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    60% {
        -moz-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.arrow {
    display: block;
    position: relative;
    width: 45px;
    height: 45px;
    background-image: url(../img/leftarrow.png);
    background-size: contain;
    top: -5px;
}


/*Shapes*/

.rectangle {
    background-image: url(../img/rectangle.png);
    width: 100px;
    height: 100px;
}

.triangle {
    background-image: url(../img/triangle.png);
    width: 100px;
    height: 100px;
}

.square {
    background-image: url(../img/square.png);
    width: 100px;
    height: 100px;
}

.circle {
    background-image: url(../img/circle.png);
    width: 100px;
    height: 100px;
}

.sector {
    background-image: url(../img/sector.png);
    width: 100px;
    height: 100px;
}


/*input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
*/

.bg-image {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    right: 0;
}

.navbar-brand-1 img {
    max-height: 100px!important;
    margin: 20px!important;
}

.help-block {
    color: red;
}

.cmn-t-pulse {
    padding: 42px 40px;
    border-radius: 50%;
    color: #fff;
    background-color: #337ab7;
    font-size: 18px;
    animation: pulse 5s ease infinite;
    /* transition: transform 0.2s; */
}

.cmn-t-pulse:hover {
    color: #fff;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.marginsec {
    margin: 4%;
}

.rupture-f {
    font-size: 16px;
    font-family: cursive;
}

.customradio {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece; // circle border
    padding: 6px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}

.customradio:checked:after {
content: '';
width: 8px;
height: 8px;
border-radius: 50px;
position: absolute;
top: 2px;
background: #094981;
text-shadow: 0px;
left: 2px;
font-size: 32px;
}

.m-b{
    margin-bottom: 45px
}

#map {
  height: 400px;
  width: 98%;
  border: 1px solid #383535;
  margin-left: 1%;
}

.imagetitle {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.inline-block {
  display: inline-block;
}

.sliderlabel {
  height: 64px;
  line-height: 64px;
  font-weight: bold;
}

.sliderbar {
  width: 45%;
  height: 64px;
}
