<div class="container-fluid" >
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <a ng-if="user.scope == 'Admin'" ui-sref="createPipe" class="btn btn-primary">Create Pipeline</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <select class="form-control" ng-model="selectedItem" ng-options="item as item.pipeName for item in getpipedata" ng-change="getPipeDataEditPage(selectedItem._id)"></select>
                        <!-- <select class="form-control">
                            
                            <option> Crude Oil Main Pipeline from Barmer in Rajasthan to Salaya in Gujarat</option>
                            <option>Crude Oil Spur line from AGI 13A to Radhanpur terminal</option>
                            <option>Radhanpur terminal for sales of crude oil to IOCL</option>
                            <option>Crude Oil Spur line from Viramgam terminal to IOCL terminal</option>
                            <option>Intermediate mainline pumping station and facilities for sales of crude oil to IOCL at ramgam</option>
                            <option>Crude Oil Spur line from AGI 32A to Reliance Refinery near Jamnagar</option>
                            <option>Crude Oil Spur line from Salaya to ESSAR Refinery near Jamnagar</option>
                            <option>Sale/ delivery facilities inside Reliance/ ESSAR refineries in Jamnagar</option>
                        </select> -->
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading  font-bold">
                    <h4>Pipeline Data Info</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Length</td>
                                <td>{{pipe.length}}</td>
                            </tr>
                            <tr>
                                <td>Fluid Viscosity</td>
                                <td>{{pipe.viscosity}}</td>
                            </tr>
                            <tr>
                                <td>Valve locations</td>
                                <td>{{pipe.valveLocation}}</td>
                            </tr>
                            <tr>
                                <td>Valve Type</td>
                                <td>{{pipe.valveType}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="user.scope == 'Admin'" class="panel-footer text-right bg-light lter">
                    <button class="btn btn-primary" ng-click="getEditData(pipe);">Edit</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading  font-bold">
                    <h4>Pipeline Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Pipeline Name</td>
                                <td>{{pipe.pipeName}}</td>
                            </tr>
                            <tr>
                                <td>Length</td>
                                <td>(in KM)</td>
                            </tr>
                            <tr>
                                <td>From City</td>
                                <td>{{pipe.fromCity}}</td>
                            </tr>
                            <tr>
                                <td>To City</td>
                                <td>{{pipe.toCity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="user.scope == 'Admin'" class="panel-footer text-right bg-light lter">
                    <button class="btn btn-primary" ng-click="getEditData(pipe);">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading  font-bold">
                    <h4>Oil Spill volume Calculation</h4>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">Rupture Type</label>
                            <div class="col-sm-2">
                                <select class="form-control">
                                    <option>Rectangular</option>
                                    <option>Triangular</option>
                                    <option>Square</option>
                                    <option>Circular</option>
                                    <option>Sector</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
