<!-- <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">		
				<div class="col-md-12 jumbotron">
	            			<p>
	                			Cairn India is one of the largest independent oil and gas exploration and production companies in India with a market capitalisation of ~ US$ 7 billion. Cairn India was rated as the fastest-growing energy company in the world, as per 2012 & 2013 Platts Top 250 Global Energy Company Rankings.
	            			</p>
	            		</div>
            	</div>
            </div>	
		</div>		
	</div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide" id="carousel-355963">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#carousel-355963">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-355963" class="active">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-355963">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img alt="Carousel Bootstrap First" src="app/assets/img/banner1.jpg">
                        <div class="carousel-caption">
                            <h4>
                                First Thumbnail label
                            </h4>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                    <div class="item active">
                        <img alt="Carousel Bootstrap Second" src="app/assets/img/banner2.jpg">
                        <div class="carousel-caption">
                            <h4>
                                Second Thumbnail label
                            </h4>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Carousel Bootstrap Third" src="app/assets/img/banner3.jpg">
                        <div class="carousel-caption">
                            <h4>
                                Third Thumbnail label
                            </h4>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                </div> <a class="left carousel-control" href="#carousel-355963" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-355963" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">       
                <div class="col-md-12 jumbotron">
                            <p>
                                Cairn India is one of the largest independent oil and gas exploration and production companies in India with a market capitalisation of ~ US$ 7 billion. Cairn India was rated as the fastest-growing energy company in the world, as per 2012 & 2013 Platts Top 250 Global Energy Company Rankings.
                            </p>
                        </div>
                </div>
            </div>  
        </div>      
    </div>
</div>
