<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading  font-bold text-center">
                    <h4>Oil Spill Volume Calculation</h4></div>
                <form role="form" class="marginsec">
                        <div class="radio radio-info radio-inline rupture-f">
                            <input type="radio" name="radioInline" ng-click="clearforminclination();changeView(true,false,false,false,false,'',true)" >
                            <label for="inlineRadio1"> Cross-Sectional Rupture </label>
                        </div>
                        <div class="radio radio-info radio-inline rupture-f">
                            <input type="radio" name="radioInline" ng-click="clearforminclination();changeView(false,false,false,false,true,'',false)">
                            <label for="inlineRadio1"> Maximum Spill</label>
                            <div class="inline-block" ng-show="showdiv">
                                <select ng-model="rupture" ng-dropdown ng-change="changeDiv(rupture,true)">
                                    <option ng-option value="water">Below Water</option>
                                    <option ng-option value="ground">Below Ground</option>
                                </select>
                            </div>
                        </div>
                        <div class="radio radio-info radio-inline rupture-f">
                            <input type="radio" id="" name="radioInline" ng-click="clearforminclination();changeView(false,true,false,false,false,'',true)">
                            <label for="inlineRadio1"> Rupture at Elevated Plane</label>
                        </div>

                </form>
                <div class="panel-body" ng-show="showgeo">
                  <tabset>
                    <tab heading="Rupture Location (optional)">
                      <div class="col-md-6 ut-search-result">
                        <div class="form-horizontal">
                          <form name="locationForm" class="form-horizontal novalidate form-validation">
                            <div class="form-group">
                              <label class="col-sm-4 control-label">Latitude</label>
                              <div class="col-sm-5">
                                <input ng-model="location.lat" type="number" step="0.1" min="0.1" class="form-control hidespinner" ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-4 control-label">Longitude</label>
                              <div class="col-sm-5">
                                <input ng-model="location.lng" type="number" step="0.1" min="0.1" class="form-control hidespinner" ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </tab>
                  </tabset>
                </div>
                <div class="panel-body" ng-if="showrupture1">
                    <tabset>
                        <tab heading="Cross-Sectional Rupture">
                            <div class="col-md-6 ut-search-result">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Rupture Shape</label>
                                        <div class="col-sm-5">
                                            <select class="form-control form-height" ng-model="shape" ng-options="o as o for o in shapes" ng-change="clearform()">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <span ng-if="shape=='Rectangular'">
                            <form name="calcForm" class="form-horizontal novalidate form-validation">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" >Length (in inches) </label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.length" type="number" step="0.1" min="0.1" max="24" class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Breadth (in inches)</label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.breadth" type="number" step="0.1" min="0.1" max="24" class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Height (in inches)(From top of the pipe to rupture)</label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.rectheight" type="number" step="0.1" min="0.1" max="24" class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Velocity</label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.velocity" name="velocity" type="number" step="0.01" min="0" max="100" class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5 col-md-offset-4">
                                        <button class="btn btn-success" ng-disabled="!calcForm.$valid" ng-click="calcVolume(area,shape);">Calculate</button>
                                        <img src="app/assets/img/loading.gif" ng-show="loading">
                                    </div>
                                </div>
                            </form>
                        </span>
                                <span ng-if="shape=='Triangular'">
                            <form name="calcForm" class="form-horizontal novalidate form-validation">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" >Side 1 (in inches)</label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.sidea" ng-pattern="/[+]?\d+([.]\d+)?$/" type="number" step="0.1" min="0.1" max="24" class="form-control " required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Side 2 (in inches)</label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.sideb" ng-pattern="/[+]?\d+([.]\d+)?$/" type="number" step="0.1" min="0.1" max="24" class="form-control " required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Side 3 (in inches)</label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.sidec" ng-pattern="/[+]?\d+([.]\d+)?$/" type="number" step="0.1" min="0.1" max="24" class="form-control " required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Height(From top of the pipe to rupture)</label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.triheight" type="number" step="0.1" min="0.1" max="24" class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Velocity</label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.velocity" name="velocity" type="number" step="0.01" min="0" max="100" class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6 col-md-offset-4">
                                        <button class="btn btn-success" ng-disabled="!calcForm.$valid" ng-click="calcVolume(area,shape);">Calculate</button>
                                        <img src="app/assets/img/loading.gif" ng-show="loading">
                                    </div>

                                </div>
                            </form>
                        </span>
                                <span ng-if="shape=='Square'">
                            <form name="calcForm" class="form-horizontal novalidate form-validation">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" >Side Length (in inches)</label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.sidelength" ng-pattern="/[+]?\d+([.]\d+)?$/" type="number" step="0.1" min="0.1" max="24" class="form-control " required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Height(From top of the pipe to rupture)</label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.squareheight" type="number" step="0.1" min="0.1" max="24" class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Velocity</label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.velocity" name="velocity" type="number" step="0.01" min="0" max="100" class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6 col-md-offset-4">
                                        <button class="btn btn-success" ng-disabled="!calcForm.$valid" ng-click="calcVolume(area,shape);">Calculate</button>
                                    </div>
                                    <img src="app/assets/img/loading.gif" ng-show="loading">
                                </div>
                            </form>
                        </span>
                                <span ng-if="shape=='Circular'">
                            <form name="calcForm" class="form-horizontal novalidate form-validation">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" >Radius Length (in inches)</label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.radius" ng-pattern="/[+]?\d+([.]\d+)?$/" type="number" step="0.1" min="0.1" max="12" class="form-control " required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Height(From top of the pipe to rupture)</label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.circleheight" type="number" step="0.1" min="0.1" max="24"  class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Velocity</label>
                                    <div class="col-sm-5">
                                        <input ng-model="area.velocity" name="velocity" type="number" step="0.01" min="0" max="100" class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6 col-md-offset-4">
                                        <button class="btn btn-success" ng-disabled="!calcForm.$valid" ng-click="calcVolume(area,shape);">Calculate</button>
                                        <img src="app/assets/img/loading.gif" ng-show="loading">
                                    </div>
                                </div>
                            </form>
                        </span>
                            </div>
                            <div ng-if="shape=='Rectangular'" class="col-md-2">
                                <div class="rectangle"></div>
                            </div>
                            <div ng-if="shape=='Triangular'" class="col-md-2">
                                <div class="triangle"></div>
                            </div>
                            <div ng-if="shape=='Square'" class="col-md-2">
                                <div class="square"></div>
                            </div>
                            <div ng-if="shape=='Circular'" class="col-md-2">
                                <div class="circle"></div>
                            </div>
                            <div ng-if="shape=='Sector'" class="col-md-2">
                                <div class="sector"></div>
                            </div>
                            <div class="col-md-4 marginsec">
                                <span ng-show="result">
	                        <section>
	                          <a class="cmn-t-pulse">Oil will flow @ {{barrels}} Litres/hour</a>
	                        </section>
	                    </span>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="panel-body" ng-show="showwaterdiv">
                    <tabset>
                        <tab heading="Maximum Spill (Below Water)">
                            <div class="col-md-6 ut-search-result">
                                <form name="watercalcForm" class="form-horizontal  form-validation">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Time (in Minutes)</label>
                                        <div class="col-sm-5">
                                            <input ng-model="area.time" name="time" type="number" min="1" max="2880" class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                            <p ng-show="watercalcForm.time.$error.min" class="help-block">Time should be minimum 1.</p>
                                            <p ng-show="watercalcForm.time.$error.max" class="help-block">Time should be maximum 2880.</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Velocity</label>
                                        <div class="col-sm-5">
                                            <input ng-model="area.velocity" name="velocity" type="number" step="0.01" min="0.97" max="1.43" class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                            <p ng-show="watercalcForm.velocity.$error.min" class="help-block">Velocity should be minimum 0.97.</p>
                                            <p ng-show="watercalcForm.velocity.$error.max" class="help-block">Velocity should be maximum 1.43.</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Depth</label>
                                        <div class="col-sm-5">
                                            <input ng-model="area.depth" name="depth" type="number" step="0.1" min="1" max="50" class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                            <p ng-show="watercalcForm.depth.$error.min" class="help-block">Depth should be minimum 1.</p>
                                            <p ng-show="watercalcForm.depth.$error.max" class="help-block">Depth should be maximum 50.</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Gas Oil Ratio</label>
                                        <div class="col-sm-5">
                                            <select class="form-control form-height" ng-model="area.gasoilratio" ng-options="choice.value as choice.range for choice in getGasOilRatio" required>
                                                <option value="">--Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-5 col-md-offset-4">
                                            <button class="btn btn-success" ng-disabled="!watercalcForm.$valid" ng-click="calcVolume(area,'water');">Calculate</button>
                                            <img src="app/assets/img/loading.gif" ng-show="loading">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 marginsec">
                                <span ng-show="result">
                            <section>
                             <a class="cmn-t-pulse">Maximum oil spill  {{barrels}} Barrels</a>
                            </section>
                        </span>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="panel-body" ng-show="showgrounddiv">
                    <tabset>
                        <tab heading="Maximum Spill (Below Ground)">
                            <div class="col-md-6 ut-search-result">
                                <form name="calcForm" class="form-horizontal novalidate form-validation">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Time (in Minutes)</label>
                                        <div class="col-sm-5">
                                            <input ng-model="pipelinedata.time" name="time" type="number" step="0.1" min="1" max="2880" class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                            <p ng-show="calcForm.time.$error.min" class="help-block">Time should be minimum 1.</p>
                                            <p ng-show="calcForm.time.$error.max" class="help-block">Time should be maximum 2880.</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Velocity</label>
                                        <div class="col-sm-5">
                                            <input ng-model="pipelinedata.velocity" name="velocity" type="number" step="0.01" min="0.97" max="1.43" class="form-control " ng-pattern="/[+]?\d+([.]\d+)?$/" required>
                                            <p ng-show="calcForm.velocity.$error.min" class="help-block">Velocity should be minimum 0.97.</p>
                                            <p ng-show="calcForm.velocity.$error.max" class="help-block">Velocity should be maximum 1.43.</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Gas Oil Ratio</label>
                                        <div class="col-sm-5">
                                            <select class="form-control form-height" ng-model="pipelinedata.gasoilratio" ng-options="choice.value as choice.range for choice in getGasOilRatio" required>
                                                <option value="">--Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-5 col-md-offset-4">
                                            <button class="btn btn-success" ng-disabled="!calcForm.$valid" ng-click="calcVolume(pipelinedata,'ground');">Calculate</button>
                                            <img src="app/assets/img/loading.gif" ng-show="loading">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 marginsec">
                                <span ng-show="result">
		                            <section>
		                               <a class="cmn-t-pulse">Maximum oil spill  {{barrels}} Barrels</a>
		                            </section>
                                </span>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="panel-body" ng-if="showrupture2">
                    <tabset>
                        <tab heading="Rupture at Elevation">
                            <div class="col-md-6 ut-search-result">
                                <form name="inclinationForm" class="form-horizontal  form-validation">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">AGI</label>
                                        <div class="col-sm-5">{{getagidata.agirange}}
                                            <select class="form-control form-height" ng-model="area.agidata" ng-options="agidata.getvalue as agidata.agirange for agidata in getagidata" required>
                                                <option value="">--Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-5 col-md-offset-4">
                                            <button class="btn btn-success" ng-disabled="!inclinationForm.$valid" ng-click="calcVolume(area,'inclination');">Calculate</button>
                                            <img src="app/assets/img/loading.gif" ng-show="loading">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 marginsec">
                                <span ng-show="result">
		                            <section>
		                                <a class="cmn-t-pulse">Oil will flow @ {{barrels}} litres/second</a>
		                            </section>
		                        </span>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
        <div ng-show="showmap">
          <div ng-show="showslider">
            <div class="col-sm-4 control-label sliderlabel">Oil Flow Representaion For Hours</div>
            <div class="inline-block sliderbar">
              <rzslider
                rz-slider-model="maphourslider.value"
                rz-slider-options="maphourslider.options"></rzslider>
            </div>
          </div>
          <div>
            <div class="control-label slideresult">
                <div ng-bind-html="displayMessage">
                    
                </div>
            </div>
          </div>
          <div id="map">
          </div>
          <div class="imagetitle">
            Oil flow representation
          </div>
        </div>
        <br />
        <nvd3 options="options" data="data"></nvd3>
        <!--  <nvd3 options="options1" data="data1"></nvd3>
        <nvd3 options="options2" data="data2"></nvd3> -->
    </div>
</div>
