<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <!-- ng-click="createPipeline();" -->
                        <a ng-if="user.scope == 'Admin'" class="btn btn-info " ng-click="createPipeline(data)">Create Pipeline</a>
                        <a ng-if="user.scope == 'Admin'" ui-sref="deletePipe" class="btn btn-default ">Delete Pipeline</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <!-- back : {{yoyo}}
                        <br/> onselect : {{selectedItem}} -->
                    <label class="col-sm-3 control-label">Select Pipeline</label>
                    <div class="col-md-9">
                        <select class="form-control form-height" ng-model="selectedItem.pipeName" ng-options="choice._id as choice.pipeName for choice in getpipedata" ng-change="getPipeDataEditPage(selectedItem)">
                            <option value="">--Select Pipeline--</option>
                        </select>
                    </div>
                    <!-- <select class="form-control" ng-model="selectedItem" ng-options="item.pipeName for item in getpipedata " ng-change="getPipeDataEditPage(selectedItem._id)" 
                        ng-init="selectedItem = null">
                            <option value="" >Select Pipeline</option>
                        </select> -->
                    <!-- <select class="form-control" ng-model="getpipedata.pipeName"  ng-options="item.pipeName for item in getpipedata " ng-change="getPipeDataEditPage(selectedItem._id)"></select> -->
                    <!-- <select class="form-control">
                            
                            <option> Crude Oil Main Pipeline from Barmer in Rajasthan to Salaya in Gujarat</option>
                            <option>Crude Oil Spur line from AGI 13A to Radhanpur terminal</option>
                            <option>Radhanpur terminal for sales of crude oil to IOCL</option>
                            <option>Crude Oil Spur line from Viramgam terminal to IOCL terminal</option>
                            <option>Intermediate mainline pumping station and facilities for sales of crude oil to IOCL at ramgam</option>
                            <option>Crude Oil Spur line from AGI 32A to Reliance Refinery near Jamnagar</option>
                            <option>Crude Oil Spur line from Salaya to ESSAR Refinery near Jamnagar</option>
                            <option>Sale/ delivery facilities inside Reliance/ ESSAR refineries in Jamnagar</option>
                        </select> -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="arrow bounce" ng-if="!pipe.length>0">
            </div>
        </div>
    </div>
    <div class="row" ng-if="!pipe.length>0">
        <h1 class="pipe-msg">Please select a Pipeline</h1>
    </div>
    <div class="row">
        <div class="col-md-6" ng-if="pipe.length>0">
            <div class="panel panel-info">
                <div class="panel-heading  font-bold">
                    <h4>Pipeline Data Info</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Length (in kilometers)</td>
                                <td>{{pipe.length}}</td>
                            </tr>
                            <tr>
                                <td>Fluid Viscosity (at 65°C)</td>
                                <td>{{pipe.viscosity}}</td>
                            </tr>
                            <tr>
                                <td>Density (in gram/cc)</td>
                                <td>{{pipe.density}}</td>
                            </tr>
                            <tr>
                                <td>Pressure (in bar)</td>
                                <td>{{pipe.pressure}}</td>
                            </tr>
                            <tr>
                                <td>Viscosity at 100 (in centistokes)</td>
                                <td>{{pipe.viscosityat100}}</td>
                            </tr>
                            <tr>
                                <td>RVP (kPa)</td>
                                <td>{{pipe.rvp}}</td>
                            </tr>
                            <tr>
                                <td>Pour Point(Celsius)</td>
                                <td>{{pipe.pourpoint}}</td>
                            </tr>
                            <tr>
                                <td>Specific Gravity</td>
                                <td>{{pipe.specificgravity}}</td>
                            </tr>
                            <tr>
                                <td>Gravity</td>
                                <td>{{pipe.gravity}}</td>
                            </tr>
                            <tr>
                                <td>Sulphur Weight(%)</td>
                                <td>{{pipe.sulfurweightage}}</td>
                            </tr>
                            <tr>
                                <td>LPG Potential (C3+C4)</td>
                                <td>{{pipe.lpgpotentials}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="user.scope == 'Admin' && pipe.length>0" class="panel-footer text-right bg-light lter">
                    <button class="btn btn-primary" ng-click="getEditData(pipe);">Edit</button>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-if="pipe.length>0">
            <div class="panel panel-info">
                <div class="panel-heading  font-bold">
                    <h4>Pipeline Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Pipeline Name</td>
                                <td>{{pipe.pipeName}}</td>
                            </tr>
                            <tr>
                                <td>Pipeline Diameter (in inches)</td>
                                <td>{{pipe.diameter}}</td>
                            </tr>
                            <!-- <tr>
                                <td>Valve Closing Time</td>
                                <td>{{pipe.valveClosingTime}}</td>
                            </tr> -->
                            <tr>
                                <td>From City</td>
                                <td>{{pipe.fromCity}}</td>
                            </tr>
                            <tr>
                                <td>To City</td>
                                <td>{{pipe.toCity}}</td>
                            </tr>
                            <tr>
                                <td>Salt Content(PTB)</td>
                                <td>{{pipe.saltcontent}}</td>
                            </tr>
                            <tr>
                                <td>Micro Carbon Residue(%)</td>
                                <td>{{pipe.microcarbonresidue}}</td>
                            </tr>
                            <tr>
                                <td>Water Content Volume(%)</td>
                                <td>{{pipe.watercontent}}</td>
                            </tr>
                            <tr>
                                <td>BS & W</td>
                                <td>{{pipe.bsw}}</td>
                            </tr>
                            <tr>
                                <td>Total Acid Value(mgKOH/g)</td>
                                <td>{{pipe.totalacidvalue}}</td>
                            </tr>
                            <tr>
                                <td>Flash Point(Celsius)</td>
                                <td>{{pipe.flashpoint}}</td>
                            </tr>
                            <tr>
                                <td>Trace Metals(ppm)</td>
                                <td>{{pipe.tracemetals}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="user.scope == 'Admin' && pipe.length>0" class="panel-footer text-right bg-light lter">
                    <button class="btn btn-primary" ng-if="pipe.length>0" ng-click="getEditData(pipe);">Edit</button>
                    <!-- {{pipe}} -->
                </div>
            </div>
        </div>
    </div>
    <div ng-if="pipe._id"class="row text-center">
        <button ng-click="gotoCalculation(pipe)" class="btn btn-primary center-block">
            Next Step!
        </button>
    </div>
</div>
